* {
		box-sizing: border-box;
}
.ingredient {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		border: 2px solid #000;
}
.ingredient-icon {
		width: 50px;
		height: 50px;
		border: 1px solid #000;
		padding: 0;
}
.ingredient-icon img {
		width: 100%;
		height: 100%;
		object-fit: cover;
}
h2{
		width: 20%;
}
span{
		display: inline-block;
		padding: 25px;
		width: 15%;
}
.delete {
		display: block;
		width: 30px;
		height: 30px;
		margin-top: 20px;
		background-color: darkorange;
}
.delete-hidden {
		display: none;
}